.d20 {
  width: 180px;
  position: relative;
  cursor: pointer;
}

.d20 div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.d20 img {
  width: 100%;
  height: auto;
}
